repos:
  -   repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v4.5.0
      hooks:
        - id: check-case-conflict
        - id: check-merge-conflict
        - id: check-symlinks
        - id: check-yaml
        - id: end-of-file-fixer
        - id: trailing-whitespace
  -   repo: https://github.com/asottile/pyupgrade
      rev: v3.15.2
      hooks:
        - id: pyupgrade
          args: [--py310-plus]
  -   repo: https://github.com/astral-sh/ruff-pre-commit
      rev: v0.14.4
      hooks:
        - id: ruff
          types_or: [python, pyi]
        - id: ruff-format
          types_or: [python, pyi]
